{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login-page">
    <img src="{% static 'images/login-background.PNG' %}" alt="">
    <div class="student-signup-form">
      <h3>Fill out the form:</h3>
              <h1>Sign up as a Teacher.</h1>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ teacherform.as_p }}

        <p> <label for="">{{ userform.username.label_tag }}</label>{{ userform.username }}</p>
        <p> {{ userform.username.help_text }}</p>
        <p> <label for="">{{ userform.password1.label_tag }}</label>{{ userform.password1 }}</p>
        <p>Password can't be similar to your other fields and must contain atleast 8 characters.</p>
        <p> <label for="">{{ userform.password2.label_tag }}</label>{{ userform.password2 }}</p>
        <p> {{ userform.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="{% url 'class:Login' %}">Already have an account.</a>
    </div>
</div>

{% endblock %}